<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Getting Started</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This is a basic mobile application built with Ionic Framework and Angular.</p>
        <div class="logo-container">
          <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
          <ion-icon name="logo-angular" size="large" color="danger"></ion-icon>
        </div>
        <p>Start building your amazing mobile app!</p>
        <ion-button expand="block">Get Started</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Features</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Cross-platform mobile development</li>
          <li>Angular framework integration</li>
          <li>Beautiful UI components</li>
          <li>Native device features</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
