.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

ion-card-content ul {
  padding-left: 20px;
}

ion-card-content li {
  margin-bottom: 8px;
}
